---
const today = new Date()
---

<footer class='absolute bottom-0 flex h-24 w-full justify-center pl-4 pr-4'>
  <div
    class='mb-4 flex max-w-5xl justify-between border-t border-gray-700 text-center sm:mb-1 sm:w-full sm:flex-wrap sm:justify-around sm:pb-6 sm:pt-6'
  >
    <div class='sm:w-96 sm:text-center md:w-80 md:text-left'>
      <p class='mb-0 mt-0'>
        &copy; {today.getFullYear()}
        <a href='https://github.com/CoMfUcIoS'>Ioannis karasavvaidis</a>.
        <span
          data-toggle='tooltip'
          data-placement='top'
          title=''
          data-original-title='Except where otherwise noted, the blog posts on this site are licensed under the Creative Commons Attribution 4.0 International (CC BY 4.0) License by the author.'
        >
          Some rights reserved.
        </span>
      </p>
    </div>
    <div class='sm:w-96 sm:text-center md:w-80 md:text-right'>
      <p class='mb-0 mt-0'>
        Powered by <a href='https://astro.build' target='_blank' rel='noopener'
          >Astro</a
        > with Tailwind, Shadcn and React.
      </p>
    </div>
  </div>
</footer>
