---
const today = new Date();
---
<footer class="w-full flex justify-center h-24 absolute bottom-0 pr-4 pl-4">
	<div class="flex justify-between text-center max-w-5xl border-t border-gray-700 mb-4 sm:w-full sm:pt-6 sm:pb-6 sm:mb-1 sm:flex-wrap sm:justify-around">
		<div class="sm:w-96 md:w-80 sm:text-center md:text-left">
			<p class="mb-0 mt-0">
				&copy; {today.getFullYear()}  <a href="https://github.com/CoMfUcIoS">Ioannis karasavvaidis</a>.
				<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Except where otherwise noted, the blog posts on this site are licensed under the Creative Commons Attribution 4.0 International (CC BY 4.0) License by the author.">
					Some rights reserved.
				</span>
			</p>
		</div>
		<div class="sm:w-96 md:w-80 sm:text-center md:text-right ">
			<p class="mb-0 mt-0">
				Powered by <a href="https://astro.build" target="_blank" rel="noopener">Astro</a> with Tailwind, Shadcn and React.
			</p>
		</div>
	</div>
</footer>